/* Доп Задание сделать тёмную тему */
body{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

header{
    position: relative;
}

hr{
    width: 90%;
}

header>nav>ul{
    text-align:center;
    margin: 0;
    padding: 0;
}

header>nav>ul>li{
    position: relative;
    list-style: none;
    display: inline-block;
    border-bottom:  1px solid black;
    width:  150px;
    text-align: center;
    margin: 2px;
    transition: .5s;
    height: 80px;
}

header>nav>ul>li>a{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.section {
    min-height: 90vh;
    margin: 10px 5px;
}

.section h2{
    font-size: 56px;
}

@media (max-width:600px){
    *{
        font-size: 14px !important;
    }
    
}

body{
    background-color: aquamarine;
    animation: bgd-anim 2s ease infinite;
}



.preloader>.container>.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    transform: rotate(45deg);
    transform-origin: 50px 50px;
    animation: anime-circle 5s ease-in-out infinite, anime-color 20s linear infinite;

}

@keyframes anime-circle{
    from{
        transform: rotate(45deg);
    }
    10%{
        transform: rotate(45deg);
    }
    90%{
        transform: rotate(405deg);
    }
    to{
        transform: rotate(405deg);
    }
}

@keyframes anime-color{
    0%{
        background:white;
    }
    25%{
        background:red;
    }
    50%{
        background:purple;
    }
    75%{
        background:yellowgreen;
    }
    100%{
        background:white;
    }
}

.preloader>.container>.circle:nth-child(2){
    animation-delay: 0.2s;
}
.preloader>.container>.circle:nth-child(3){
    animation-delay: 0.4s;
}
.preloader>.container>.circle:nth-child(4){
    animation-delay: 0.6s;
}
.preloader>.container>.circle:nth-child(5){
    animation-delay: 0.8s;
}
.preloader>.container>.circle:nth-child(6){
    animation-delay: 1.0s;
}
.preloader>.container>.circle:nth-child(7){
    animation-delay: 1.2s;
}
.preloader>.container>.circle:nth-child(8){
    animation-delay: 1.4s;
}
